html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b3b8c8;
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  color: #0d6efd;
  text-decoration: none
}